<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Courses</title>
    </head>
    <body>
        <!-- Button trigger modal -->
<button id="course-modal-button" type="button" class="btn btn-primary btn-courses-modal" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Latest Courses
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-center course-modal-header" id="exampleModalLabel">Latest Courses</h5>
          <button type="button" class="btn-close modal-close-btn" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-close-modal" data-bs-dismiss="modal">Close</button>
          <!--<button type="button" class="btn btn-primary">Save Changes</button>-->
        </div>
      </div>
    </div>
  </div>
    </body>

</html>