<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Our Subscribers</title>
    </head>

    <body>
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>

            <tbody>
                <% subscribers.forEach((subscriber) => { %> 
                <tr>
                    <th scope="row">
                        <td>
                            <%= subscriber.name %>
                        </td>
                        <td>
                            <%= subscriber.email %>
                        </td>
                    </th>
                </tr>
                <% }) %>
            </tbody>
        </table>
        
    </body>

</html>