<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Our Subscribers</title>
    </head>

    <body>
        <% subscribers.forEach((subscriber) => { %>
            <p>
                <%= subscriber.name %>
            </p>

            <p>
                <%= subscriber.email %>
            </p>

        <% }) %>
    </body>

</html>