<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Our Subscribers</title>
    </head>

    <body>
        
        <% subscribers.forEach((subscriber) => { %>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 d-flex">
                        <div class="card" style="width: 18rem;">
                            <img src="/images/angela_schrute.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= subscriber.name %>
                                </h5>
                                <p class="card-text">
                                    <%= subscriber.email %>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% }) %>
        
    </body>

</html>