<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Meal Maker | Edit User</title>
    </head>
    <body>
        <div class="card mx-auto edit-card" style="width: 25rem; margin-top: 10vh;">
            <div class="card-body">
                <h5 class="card-title text-center">Edit Subscriber</h5>
                <form class="edit-form" method="POST" action="<%= `/subscribers/${subscriber._id}/update?_method=PUT` %>">
                    <div class="mb-3">
                        <label for="inputName" class="form-label">Name</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa-solid fa-user" style="color: #FF6700;"></i> 
                               </div>
                            <input type="text" name="name" class="form-control" id="inputFirstName" value="<%= subscriber.name %>" placeholder="First" autofocus>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="inputEmail" class="form-label">Email address</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa-solid fa-envelope" style="color: #FF6700;"></i> 
                               </div>
                        <input type="text" name="email" class="form-control" id="inputEmail" value="<%= subscriber.email %>" placeholder="Email address" required>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="inputZipCode" class="form-label">Zip Code</label>
                        <input type="text" name="zipCode" class="form-control" id="inputZipCode" value="<%= subscriber.zipCode %>" placeholder="Zip Code" pattern="[0-9]{5}" required>
                    </div>

                    <div class="text-center">
                        <button class="btn btn-primary sign-up">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>